@import url(../commonAuth.css);

.purplecard .innercontent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.purplecard .innercontent .logo {
  margin-top: 3rem;
}
.purplecard .innercontent .logo img {
  height: 120px;
  width: 120px;
}

.purplecard .innercontent .image img {
  margin-top: 5rem;
  width: auto;
  height: 45vh;
}

.whitecard {
  box-shadow: inset 3px 0px 5px #5f5e5e;
}
.whitecard .roundtitle {
  box-shadow: inset 3px 0px 5px #5f5e5e;
  background-image: linear-gradient(35deg, #6f01b0, #b684ff);
  padding: 1rem 4rem;
  display: inline-block;
  border-radius: 0px 50px 50px 0px;
  margin-top: 25px;
  font-size: 1.2rem;
  color: white;
}

a {
  color: #5046af !important;
}
.innercontent {
  padding: 1rem 8rem;
  margin-top: 2rem;
}
.innercontent .head {
  text-align: center;
}
.innercontent h1 {
  color: #5046af;
  padding: 0rem;
}

.innercontent .form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0rem 2rem;
}

.form p{
    color: #5046AF;
    font-weight: 200;
}
.form .email Input{
    border: none;
    border-bottom:solid 1px #827DDC;
    width: 30vw;
}
.form .pass Input{
  border: none;
    border-bottom:solid 1px #827DDC;
    width: 30vw;
}
.form .pass{
    margin-top: 2rem;
}

.rightallign {
  text-align: right;
}
.line-container {
  padding: 0rem 7rem;
  text-align: center;
}

.line {
  border-bottom: #5046af solid 1px;
  margin-top: 2rem;
}
.line-container p {
  color: #5046af;
  margin-top: 1rem;
}
.line-container .icons {
  display: flex;
  justify-content: space-between;
  padding: 0rem 2rem;
}
.line-container a img {
  height: 35px;
  width: 35px;
}
